/* MOBILE OR SMALL DEVICE */
@media (max-width:576px) {
/* NAVBAR RESPONSIVE START */
body{
    width: 100%;
    
}
nav{
    margin: 0;
    width: 100%;
}
.nav-logo img{
    width: 63px;
    height: 38px;
    margin-left: 10px;
}
.nav-links a{
    display: none; /* Initially hidden */
}
 #cart{
    display: inline;
    font-size: 1rem;
}
.banner{
    width: 100%;
    margin: 0;
}
.banner-container{
    
    flex-direction: column;
    margin-top: 20px;
    
}
.banner-text{
    width: 100%;
    margin-top: 10px 10px;
    
}
.banner-text h1{
    font-size: 1.5rem;
}
.banner-text h1 span{
    font-size: 1.5rem;
}
.banner-text p{
    font-size: 14px;

    
}
.banner-img{
    width: 100%;
    order: -1;
    
}
.banner-img img{
    margin-top:10px ;
   width: 100%;
    height:245px ;
}
/* OUR PLANT  SECTION START */
.our-plant-container{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-plant-title {
    text-align: center;
    padding: 10px 20px;
}
.our-plant-title h1{
    font-size: 1.5rem;
    padding: 10px 20px;
}
.our-plant-title p{
    font-size: 14px;
    padding: 0 20px;
}
.plant-card{
    width:171px;
    flex: 1 1 calc(50% - 10px);
    justify-content: center;
}

.plant-card img{
    width: 171px;
    height: auto;
}
.plant-card p{
    font-size: 16px;
}

.plant-card h3{
    font-size: 16px;
    margin: 10px 0;
}
.plant-card .btn{
    width: 171px;
    padding: 19px 30px;
    font-size: 14px;
}
.plant-lover-img img{
    width: 100%;
    height: auto;
}
.plant-lover-img .hide-on-mobile{
    display: none;
}
.plant-lover-container{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plant-lover-title{
    text-align: center;
    padding: 10px 20px;
}
.plant-lover-title h1{
    font-size: 1.5rem;
    padding: 10px 20px;
}
.plant-lover-content{
    flex-direction: column;
    align-items: center;
}
.plant-lover-text{
    width: 100%;
    padding:0;
}
.plant-lover-text h1{
    font-size: 1.5rem;
    padding: 10px 20px;
}
.hide-on-mobile{
    display: none
}
.plant-lover-text ul li {
    font-size: 14px;
    padding: 0 10px;
}
/* <!-- PLANT JOIN SECTION  START-->
 */  
 .plant-join-container{
    width: 100%;
    margin: 0;
   
}
.joint-plant-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    
}
.small-img{
    
    gap: 10px;
    width: 100%;
}
.small-img img{
    width: 100%;
    height: 100%;
}
.big-img{
    margin:20px 0;
    overflow: hidden;
    position: relative;
}
.big-img img{
    width: 100%;
    height: 100%;
   
}
.big-img h2{
    font-size: 20px;
}

.overlay,.overlay2{
    
    height: 98%;
    
}


/* <!-- PLANT JOIN SECTION  END --> */  
/* <!-- COLORFUL BRANCH SECTION  START --> */
.colorful-branch-container{
    margin-top: 20px;
    height: 400px;
    background-position: top;
    width: 100%;
}

.content{
    width: 321px;
}
.content h2{
    margin-left: 20px;
    font-size: 20px;
}
.content p{
    font-size: 14px;
}
.colorful-branch-text #email{
      width: 60%;
    font-size: 14px;
    height: 30px;
    
}
.colorful-branch-text button{
    height: 30px;
    font-size: 14px;
    width: 30%;
}

/* <!-- COLORFUL BRANCH SECTION  END --> */  





}
