
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
:root{
    --primary-color: #E95A08;
    
}
h1 span{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    color:var(--primary-color);
}

/* MAIN CSS START  */
body{
   width: 1440px;
    height: 100vh;
}
/* HEADER SECTION */
nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;

}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
   
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: #8987A1;
    
}
.nav-links a:hover,
.nav-links .active
{
color: #000;

}
.nav-links .icon img{
    width: 25px;
    height: 25px;
    margin-top: 9px;
    margin-right:-26px ;
    
}
/* HEADER SECTION END*/
/* BANNER SECTION START */
.banner{
    width: 1140px;
    margin: auto;
}
.banner-container{
    display:flex;
    margin-top: 100px;
}
.banner-text{
   width:50% ;
    margin-top: 130px;
    
}
.banner-text h1{
    font-size: 65px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
.banner-text h1 span{
    color: var(--primary-color);
}
.banner-text p{
    font-size: 22px;
    color: #00000073;
    margin-bottom: 20px;
}
/* BANNER IMG */
.banner-img{
    width: 50%;
}
.banner-img img{
    margin-top: 100px;
    width: 570px;
    height: 355px;
   
}
/* BANNER SECTION END */
/* OUR PLANT  SECTION START */
.our-plant-container{
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
.our-plant-title {
    text-align: center;
    padding: 10px 182px;
    margin-bottom: 20px;
}
.our-plant-title h1{
    font-size: 50px;
    font-weight: 700;
    color: #000;

}
.our-plant-title p{
    font-size: 20px;
    color: #00000073;
}

.our-plant-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.plant-card{
    text-align: center;
}
.plant-card p{
    font-size: 22px;
    color: #000000;
    margin-top: 20px;
}
.plant-card h3{
    font-size: 22px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 20px 0;
}
.plant-card .btn{
    background-color: var(--primary-color);
    width: 100%;
    font-weight: semibold;
    font-size: 16px;
    color: #fff;
    padding: 19px 80px;
    border: none;
    font-size: 16px;
}
/* OUR PLANT  SECTION END */